<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta charset=unicode />
        <link rel="icon" href="" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Danh sach</h2>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Thêm</button>
            <div id="demo" class="collapse" style="margin-top: 15px">
                <form class="form-inline" method="post" action="/add">
                    <div class="form-group">
                      <label for="email">Họ Tên:</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                      <label for="pwd">Địa chỉ:</label>
                      <input type="text" class="form-control" id="address" name="address" placeholder="address" required>
                    </div>
                    <div class="form-group">
                      <label>Tuổi :</label>
                      <input type="number" class="form-control" id="age" name="age" placeholder="age" required>
                    </div>
                    <button type="button" id="sua" class="btn btn-primary" data-toggle="collapse" data-target="#demo" value="">Sửa</button>
                    <button type="submit" id="them" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Thêm</button>
                    <button type="button" id="close" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Hủy</button>
                </form>
            </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Stt</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>option</th>
              </tr>
            </thead>
            <tbody id="d">
            </tbody>
        </table>
        <script src="/lib/script/s.js"></script>
    </div>
</body>
</html>