<html>
<head>
    <title>This is my first node js project</title>
</head>
<body>
<h1 style="color: red">Đăng ký</h1>
<form  method="post" action="/add">
    <label>Ho va Ten:</label><input type="text" name="name" placeholder="Họ đệm:" value="<%- lastname %>"></br>
    <label>Email:</label><input type="text" name="email" placeholder="Email:"></br>
    <label>Địa chỉ:</label><input type="text" name="address" placeholder="Địa chỉ:"></br>
    <input type="submit" name="save" value="Đăng ký">
</form>
</body>
</html>