<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quản lý sinh viên</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/ajax.js"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary" style="margin-top: 30px">
  		<!-- Default panel contents -->
  			<div class="panel-heading">Bảng Quản Lý</div>
 			<div class="panel-body">
    			<div class="row">
    				<div class="col-xs-12">
    					<p><div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".addsv">Thêm</button>
              </div></p>
    				</div>
    			</div>
  			</div>
  			<table class="table">
          <thead>
      			<tr>
              <td>MSSV</td>
      				<td>Họ và tên</td>
      				<td>Giới tính</td>
      				<td>Năm sinh</td>
      				<td>Sửa</td>
      				<td>Xóa</td>
      			</tr>
          </thead>
          <tbody>
            
          </tbody>
    	 </table>
		</div>
	</div>
</body>
<!-- Modal Thêm Sinh Viên -->
<div class="modal fade addsv" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sinh viên</h4>
            </div>
            <div class="modal-body">
                <form id="addnew">
                <p><input type="text" class="form-control" placeholder="MSSV" name="mssv"></p>
                <p><input type="text" class="form-control" placeholder="Họ và tên" name="name"></p>
                <p><input type="text" class="form-control" placeholder="Giới tính" name="sex"></p>
                <p><input type="text" class="form-control" placeholder="Năm sinh" name="birthday"></p>
                
                <p><center><input type="submit" class="form-control btn btn-primary" value="Thực hiện"></center></p>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- Modal Sửa Sinh Viên -->
<div class="modal fade editsv" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa sinh viên</h4>
            </div>
            <div class="modal-body">
                <form id="edit">
                <input type="text" name="id" value="" hidden>
                <p><input type="text" class="form-control" placeholder="MSSV" name="mssv"></p>
                <p><input type="text" class="form-control" placeholder="Họ và tên" name="name"></p>
                <p><input type="text" class="form-control" placeholder="Giới tính" name="sex"></p>
                <p><input type="text" class="form-control" placeholder="Năm sinh" name="birthday"></p>
                
                <p><center><input type="submit" class="form-control btn btn-primary" value="Thực hiện"></center></p>
                </form>
            </div>
        </div>

    </div>
</div>
</html>