h1 Signup
form( method="post" action="/insert")
    div
        div
            span Email:
            input(name="email")
        div
            span password:
            input(name="password")
        div
            input(type="submit" value="Save")